*{
    margin: 0px;
    padding: 0px;
}

.parent{
    height: 600px;
    width: 100%;
    background-color:cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    

}


.child{
    height: 300px;
    width: 300px;

    

}

.child1{
    background-color:crimson;
}

.child2{
    background-color:cyan;
}

.child3{
    background-color:grey;
}


